/* general css */
body {
	font-family: 'Noto Sans JP', sans-serif;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

.responsive-img {
	width: 100%;
	max-width: 100%;
 	height: auto;
}

#client-login.main, #client-signup.main{
	margin-top: -6%;
}

#client-dataview.main{
	margin-top: -9.65%;
}

.page-bg{
	z-index: -1;
	background-image:url(../img/pantawid-bg.png);
	background-size: cover;
	background-position: top center;
}

.navbar{
	margin-bottom: 0;
}

.form-control,
.is-focused .form-control {
  background-image: linear-gradient(to top, #00000f 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.is-focused [class^='bmd-label'],
.is-focused [class*=' bmd-label'] {
  color: #00000f;
  font-size: 101%;
}

.form-input{
	font-size: 1rem;
}

/*INDEX*/
.index-bg{
	background-image:url(../img/client-bg.jpg);
	background-size: cover;
	background-position: top center;
}


.index {
	background-color: #FFFFFA;
}

.index-left {
	margin: 40px;
	/*border: 4px solid indigo;*/
}

.index-left-headline h2 {
	font-size: 2.5vw;
	font-weight: 400;
	line-height: 3vw;
	background-color: #f5c392;
	padding: 20px 0;
	color: #2b458a;
	border-radius: 5px;
}

.index-left-body {
	margin: 50px 0;
}


.index-left-body p {
	padding: 10px 55px;
	font-size: 1vw;
	font-weight: 600;
	line-height: 1.5vw;
	color: #29475f;
}

.index-right {
	margin: 40px;
	/*border: .4vw solid indigo;*/
}

.index-right-headline h2 {
	font-size: 2.1vw;
	font-weight: 400;
	color: #304788;
}

.index-right-images {
	margin: 20px 0;
}

.index-right-buttons {
	padding: 0;
}

.index-button {
	background: #f7cca2 none repeat scroll 0 0;
	border: 3px solid #9a9087;
	color: #695b4b;
	display: inline-block;
	padding: 20px 30px;
	font-size: 1.1vw;
	font-weight: 600;
	border-radius: 5px;
}

.index-button:hover {
	background: #eb9b4d none repeat scroll 0 0;
  border: 3px solid #9a9087;
  color: #fff;
  transition: 0.4s;
}

.index-card {
	background-color: #fcecdc;
	border-radius: 5px;
	padding: 2vw;
	margin: 2vw 2vw;
}


/********************
CLIENT HEADER WIDE
*********************/
.client-header-left{
	background-color: #fda871;
	padding: 20px;
	margin-top: 2vw;
	border-radius: 5px;
}

.client-header-left h2{
	font-size: 3vw;
	font-weight: 400;
	color: #0b2d48;
}

.client-header-right{
	margin-top: 2vw;
}

.client-header-right h2{
	font-size: 3vw;
	font-weight: 500;
	color: #0b2d48;
	line-height: 2.8vw;
	padding-right: 20px;
	border-right: .4vw solid #0b2d48;
}

/********************
CLIENT HEADER NARROW
*********************/


/***********
CLIENT LOGIN
************/

.client-login-body-left{
	margin: 8vw auto;
	padding: 1.8vw;
	width: 85%;
	border-top: .6vw dashed #404040;
	border-bottom: .6vw dashed #404040;
}

.client-login-body-left h2{
	color: #0b2d48;
	margin: 0 0 20px;
	font-size: 2.4vw;
	font-weight: 400;
}

.client-login-body-left a{
	font-size: 1.7vw;
	text-decoration: none;
	color: #80a1f0;
}

.client-login-body-left a:hover{
	color: #465a7e;
}

.client-login-head-right{
	margin: 6vw 0 0 0;
}

.client-login-input {
	margin: 4vw 0 0;
	padding: 20px;
}

.client-login-text {
	padding: 2vw;
}

.client-login-text span{
	font-size: 2vw;
}

.client-login-text input {
	border: 0;
	border-bottom: .25vw solid #fda871;
	background-color: #fcecdc;
	font-size: 1.2vw;
	padding: .6vw;
	width: 90%;
}

.client-login-button {
	margin: 2vw 0 0;
	background: #ee9949;
	border: 3px solid #9a9087;
	color: #695b4b;
	display: inline-block;
	padding: 20px 30px;
	font-size: 1.1vw;
	font-weight: 600;
	border-radius: 5px;
}

.client-login-button:hover {
	background: #eb9b4d none repeat scroll 0 0;
  border: 3px solid #9a9087;
  color: #fff;
  transition: 0.4s;
}

/***********
TEACHER LOGIN
************/

.teacher-login-body-left{
	margin: 8vw auto;
	padding: 1.8vw;
	width: 85%;
	border-top: .6vw dashed #404040;
	border-bottom: .6vw dashed #404040;
}

.teacher-login-body-left h2{
	color: #0b2d48;
	margin: 0 0 20px;
	font-size: 2.4vw;
	font-weight: 400;
}

.teacher-login-body-left a{
	font-size: 1.7vw;
	text-decoration: none;
	color: #80a1f0;
}

.teacher-login-body-left a:hover{
	color: #465a7e;
}

.teacher-login-head-right{
	margin: 6vw 0 0 0;
}

.teacher-login-input {
	margin: 4vw 0 0;
	padding: 20px;
}

.teacher-login-text {
	padding: 2vw;
}

.teacher-login-text span{
	font-size: 2vw;
}

.teacher-login-text input {
	border: 0;
	border-bottom: .25vw solid #ce9c9b;
	background-color: #e3eef2;
	font-size: 1.2vw;
	padding: .6vw;
	width: 90%;
}

.teacher-login-button {
	margin: 2vw 0 0;
	background: #ce9c9b;
	border: 3px solid #9f708d;
	color: #695b4b;
	display: inline-block;
	padding: 20px 30px;
	font-size: 1.1vw;
	font-weight: 600;
	border-radius: 5px;
}

.teacher-login-button:hover {
	background: #5393c1 none repeat scroll 0 0;
  border: 3px solid #9a9087;
  color: #fff;
  transition: 0.4s;
}

/***********
CLIENT SIGNUP
************/

.client-signup {

}

.client-signup-head-left{
	background-color: #fda871;
	padding: 20px;
	margin-top: 2vw;
	border-radius: 5px;
}

.client-signup-head-left h2{
	font-size: 3.5vw;
	line-height: 3.5vw;
	font-weight: 400;
	color: #0b2d48;
}

.client-signup-head-right{
	margin-top: 2vw;
}

.client-signup-head-right h2{
	font-size: 3vw;
	font-weight: 500;
	color: #0b2d48;
	line-height: 2.8vw;
	padding-right: 20px;
	border-right: .4vw solid #0b2d48;
}

.client-signup-body-right{
	margin: 0 0 0;
	padding: .5vw;
	border-top: .4vw dashed #404040;
	border-bottom: .4vw dashed #404040;
}

.client-signup-body-right a{
	font-size: 1.7vw;
	text-decoration: none;
	color: #80a1f0;
}

.client-signup-body-right a:hover{
	color: #465a7e;
}


.client-signup-body-right h2{
	color: #0b2d48;
	margin: 0;
	font-weight: 400;
}

.client-signup-input {
	margin: 4vw 0 0;
	padding: 20px;
}

.client-signup-text {
	padding: 2vw;
}

.client-signup-text span{
	color: #1d3b53;
	font-size: 1.6vw;
	padding: 1.2vw 0 .5vw;
}

.client-signup-text input[type="text"] {
	border: 0;
	border-bottom: .25vw solid #fda871;
	background-color: #fcecdc;
	font-size: 1.2vw;
	padding: .6vw;
	width: 80%;
}

.client-signup-text input[type="text"]:focus {
	border-bottom: .25vw solid #1d3b53;
	transition: all .35s ease-in;
}

.client-signup-text input[type="password"] {
	border: 0;
	border-bottom: .25vw solid #fda871;
	background-color: #fcecdc;
	font-size: 1.2vw;
	padding: .6vw;
	width: 80%;
}

.client-signup-text input[type="password"]:focus {
	border-bottom: .25vw solid #1d3b53;
	transition: all .35s ease-in;
}

.client-signup-button {
	margin: 2vw 0 0 22vw;
	background: #ee9949;
	border: 3px solid #9a9087;
	color: #1d3b53;
	display: inline-block;
	padding: 20px 30px;
	font-size: 1.1vw;
	font-weight: 600;
	border-radius: 5px;
}

.client-signup-button:hover {
	background: #eb9b4d none repeat scroll 0 0;
  border: 3px solid #9a9087;
  color: #fff;
  transition: 0.4s;
}

.client-signup-body-main {
	margin-top: 1vw;
}

/***********
TEACHER SIGNUP
************/

.teacher-signup {

}

.teacher-signup-head-left{
	background-color: #adcdd8;
	padding: 20px;
	margin-top: 2vw;
	border-radius: 5px;
}

.teacher-signup-head-left h2{
	font-size: 3.5vw;
	line-height: 3.5vw;
	font-weight: 400;
	color: #0b2d48;
}

.teacher-signup-head-right{
	margin-top: 2vw;
}

.teacher-signup-head-right h2{
	font-size: 3vw;
	font-weight: 500;
	color: #0b2d48;
	line-height: 2.8vw;
	padding-right: 20px;
	border-right: .4vw solid #0b2d48;
}

.teacher-signup-body-right{
	margin: 0 0 0;
	padding: .5vw;
	border-top: .4vw dashed #404040;
	border-bottom: .4vw dashed #404040;
}

.teacher-signup-body-right a{
	font-size: 1.7vw;
	text-decoration: none;
	color: #80a1f0;
}

.teacher-signup-body-right a:hover{
	color: #465a7e;
}


.teacher-signup-body-right h2{
	color: #0b2d48;
	margin: 0 0 1.5vw;
	font-weight: 400;
}

.teacher-signup-input {
	margin: 4vw 0 0;
	padding: 20px;
}

.teacher-signup-text {
	padding: 2vw;
}

.teacher-signup-text span{
	color: #1d3b53;
	font-size: 1.6vw;
	padding: 1.2vw 0 .5vw;
}

.teacher-signup-text input[type="text"], select {
	border: 0;
	border-bottom: .25vw solid #ce9c9b;
	background-color: #e3eef2;
	font-size: 1.2vw;
	padding: .6vw;
	width: 80%;
}

.teacher-signup-text input[type="text"]:focus,select:focus {
	border-bottom: .25vw solid #1d3b53;
	transition: all .35s ease-in;
}

.teacher-signup-text input[type="password"] {
	border: 0;
	border-bottom: .25vw solid #ce9c9b;
	background-color: #e3eef2;
	font-size: 1.2vw;
	padding: .6vw;
	width: 80%;
}

.teacher-signup-text input[type="password"]:focus {
	border-bottom: .25vw solid #1d3b53;
	transition: all .35s ease-in;
}

.teacher-signup-button {
	margin: 2vw 0 0 22vw;
	background: #ce9c9b;
	border: 3px solid #9f708d;
	color: #695b4b;
	display: inline-block;
	padding: 20px 30px;
	font-size: 1.1vw;
	font-weight: 600;
	border-radius: 5px;
}

.teacher-signup-button:hover {
	background: #5393c1 none repeat scroll 0 0;
  border: 3px solid #9a9087;
  color: #fff;
  transition: 0.4s;
}

/***********
CLIENT PORTAL
************/

.client-portal-head{
	padding: 10px 0 10px;
}

.client-portal-head img{
	width: 84%;
}

.client-portal-head-headline{

}

.client-portal-head h2{
	font-size: 3.2em;
	font-weight: 400;
	background-color: #db9d92;
	margin: 0 0 0;
	padding: 12px 25px 12px;
	color: #0b2d48;
}

.client-portal-head h3{
	font-size: 1.6em;
	font-weight: 400;
	margin: 0 0 0;
	padding: 12px;
	color: #0b2d48;
}

.client-portal-cards {
	margin: 20px 0 0;
}

.client-portal-cards h2{
	margin: 0 0 0;
	font-size: 1.4vw;
	font-weight: 400;
	color: #0b2d48;
}

.client-portal-cards-img {
	padding: 20px 0;
}

.client-portal-index {
	background-color: #db9d92;
	border-radius: 5px;
	padding: 0 0 20px;
}

.client-portal-button {
	background: #f7cca2 none repeat scroll 0 0;
	border: 3px solid #9a9087;
	color: #695b4b;
	display: inline-block;
	padding: 15px 30px;
	font-size: 1.1vw;
	font-weight: 600;
	border-radius: 5px;
}

.client-portal-button:hover {
	background: #eb9b4d none repeat scroll 0 0;
  border: 3px solid #9a9087;
  color: #fff;
  transition: 0.4s;
}

/***********
TEACHER PORTAL
************/

.teacher-portal-head{
	padding: 10px 0 10px;
}

.teacher-portal-head img{
	width: 84%;
}

.client-portal-head-headline{

}

.teacher-portal-cards {
	margin: 20px 0 0;
}

.teacher-portal-cards h2{
	margin: 0 0 0;
	padding: 0 0 .5vw;
	font-size: 1.5vw;
	font-weight: 500;
	color: #0b2d48;
}

.teacher-portal-cards-img {
	padding: 20px 0;
}

.teacher-portal-index {
	background-color: #adcdd8;
	border-radius: 5px;
	padding: 0 0 20px;
}

.teacher-portal-button {
	background: #ce9c9b;
	border: 3px solid #9f708d;
	color: #695b4b;
	display: inline-block;
	padding: 15px 25px;
	font-size: 1.1vw;
	font-weight: 600;
	border-radius: 5px;
}

.teacher-portal-button:hover {
	background: #5393c1 none repeat scroll 0 0;
  border: 3px solid #9a9087;
  color: #fff;
  transition: 0.4s;
}

/***********
TEACHER ATTENDANCE REPORT
************/

.teacher-attendance-left-body {

}

.teacher-attendance-text {
	padding: 1.4vw 0 0;
}

.teacher-attendance-body span {
	color: #1d3b53;
	font-size: 1.6vw;
}

.teacher-attendance-body input[type="text"], select {
	border: 0;
	border-bottom: .25vw solid #ce9c9b;
	background-color: #e3eef2;
	font-size: 1.2vw;
	padding: .6vw;
	width: 90%;
}

.teacher-attendance-button {
	background: #ce9c9b;
	border: 3px solid #9f708d;
	color: #695b4b;
	display: inline-block;
	padding: 15px 35px;
	margin-top: 5vw;
	font-size: 1.1vw;
	font-weight: 600;
	border-radius: 5px;
}

.teacher-attendance-button:hover {
	background: #5393c1 none repeat scroll 0 0;
  border: 3px solid #9a9087;
  color: #fff;
  transition: 0.4s;
}

/***********
TEACHER HANDLED SECTIONS
************/
.teacher-sections-body {
	padding: 3vw 0;
}


.teacher-sections-body span {
	color: #1d3b53;
	font-size: 1.6vw;
}

.teacher-sections-body input[type="text"], select {
	border: 0;
	border-bottom: .25vw solid #ce9c9b;
	background-color: #e3eef2;
	font-size: 1.2vw;
	margin: 1.5vw 0;
	padding: .6vw;
	width: 90%;
}



.teacher-sections-button {
	background: #ce9c9b;
	border: 3px solid #9f708d;
	color: #695b4b;
	display: inline-block;
	padding: 15px 35px;
	font-size: 1.1vw;
	font-weight: 600;
	border-radius: 5px;
}

.teacher-sections-button:hover {
	background: #5393c1 none repeat scroll 0 0;
  border: 3px solid #9a9087;
  color: #fff;
  transition: 0.4s;
}


/**********************
CLIENT CASH IN BALANCE
***********************/
.client-cashin-body h2{
	font-size: 1.8vw;
	font-weight: 500;
	padding: 0 0 0 40px;
	color: #0b2d48;
}

.client-cashin-box {
	margin: 30px;
	padding: 20px;
	border: 7px solid #ba4b44;
	border-radius: 45px;
}

.client-cashin-button {
	margin: 30px 0 10px;
	background: #ee9949;
	border: 3px solid #9a9087;
	color: #0b2d48;
	display: inline-block;
	padding: 20px 30px;
	font-size: 1.4vw;
	font-weight: 600;
	border-radius: 5px;
}

.client-cashin-button:hover {
	background: #eb9b4d none repeat scroll 0 0;
  border: 3px solid #9a9087;
  color: #fff;
  transition: 0.4s;
}

/**********************
CLIENT EDUCATION AND HEALTH CASH IN
***********************/
.client-education-cashin-text {
	padding: 2vw;
}

.client-education-cashin-text span{
	font-size: 2.4vw;
	color: #0c2e49;
}

.client-education-cashin-text input {
	border: 0;
	border-bottom: .25vw solid #bacccc;
	background-color: #fcecdc;
	color: #0c2e49;
	font-size: 1.3vw;
	padding: .6vw;
	width: 90%;
}

.client-education-cashin-button {
	margin: 2vw 0 0;
	background: #bacccc;
	border: 3px solid #9a9087;
	color: #695b4b;
	display: inline-block;
	padding: 20px 30px;
	font-size: 1.1vw;
	font-weight: 600;
	border-radius: 5px;
}

.client-education-cashin-button:hover {
	background: #eb9b4d none repeat scroll 0 0;
  border: 3px solid #9a9087;
  color: #fff;
  transition: 0.4s;
}


/**********************
SIDEBAR
***********************/

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1500;
  width: 280px;
  background: #f99744;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.sidebar .logo {
  padding: 25px 10px;
}

.sidebar .logo:after {
  content: "";
	border-bottom: 3px solid #d47424;

}

.sidebar .logo span {
		font-size: .9vw;
		font-weight: 600;
}

.sidebar .logo-img img {
  width: 100%;
}

.sidebar-button{
	padding: 18px;
	width: 90%;
	border: 1px solid orange;
	border-radius: 30px;
	font-size: .8vw;
	font-weight: 600;
	background-color: #2f5296;
}

.sidebar-button-active {
	background-color: white;
}

.sidebar-button:hover{
	background-color: #fff;
}

.register-nav-item {
	padding: 20px;
	color: #f7984c;
}

.register-nav-link{
	font-size: 1vw;
	color: #f7984c;
}

.register-nav-link:hover{
	font-size: 1vw;
	color: black;
}


.navbar {
	background-color: white;
	z-index: 1;
	padding-top: 10px;
}

.register-content h2{
	font-size: 1.7vw;
	font-weight: 600;
	padding: 10px;
}

.register-content-img {
	padding: 20px;
}

.register-input-area {
	padding: 50px;
	background-color: #f99744;
	border: 2px solid black;
}

.register-input {
	padding: 20px;
}

.register-input label{
	color: black;
	font-size: 1vw;
}

.register-input input[type='text'], input[type='date']{
	color: black;
	padding: 10px;
	border: 0;
  font-size: 1vw;
  margin: 0;
  width: 90%;
	background-color: #f99744;
}

.register-input select{
	color: black;
	padding: 5px;
	border: 0;
	border-bottom: 2px solid #d2d2d2;
  font-size: .9vw;
	font-weight: 600;
  margin: 0;
  width: 90%;
	background-color: #f99744;
}

.register-submit {
	margin: 20px 0;
	padding: 20px;
	font-size: 1vw;
	font-weight: 600;
	border-radius: 10px;
	background-color: #2f5296;
	border: 3px solid black;
}

.register-submit:hover {
	background-color: #f99744;
	border: 3px solid black;
}

.register-input-area h2{
	font-size: 1.6vw;
	font-weight: 600;
}

































asdasd
